<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>Users
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                (click)="onEnterUsers()">
                                <span class="glyphicon glyphicon-user" style="margin-right: 0px;"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <app-options></app-options>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <h6> Total Options <span class="label label-info">5</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-send-options></app-send-options>
    <app-view-options></app-view-options>
</div>